@{
    ViewBag.Title = "Home Page";
}

<div id="myDiv"></div>

<div class="text-center">
    <h1>Live your dream vacation from the comfort of your own home</h1>
    <img src="\images\bungalows.jpg" style="max-width: 100%; max-height:100%;" />
</div>